@charset "utf-8";
.drawfee-logo img {
	padding-top:35.1875vh;
	padding-left:25vw;
	height:14.8125vw;
	width:50vw;
}
.our-logo img {
	padding-top:30vh;
	padding-left:30vw;
	height:19.4vw;
	width:40vw;
}
.drawfee-logo {
	position:static;
	display:none;
	height:100vh;
	width:100vw;
}
.our-logo {
	position:static;
	display:none;
	height:100vh;
	width:100vw;
}
.show {
	display:inline;
}
