@charset "utf-8";
img {
	padding-top:35.1875vh;
	padding-left:25vw;
	heigth:14.8125vh:
	width:50vw;
}
.drawfee-logo {
	position:static;
	display:block;
	height:100vh;
	width:100vw;
}
.show{
	display:block;
}
